# Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
backend/.venv/
.env
.DS_Store

# Frontend
node_modules/
dist/
build/
.vscode/
.idea/
coverage/
*.log

# Docs
docs/images
docs/Project_Roadmap.pdf
docs/stitch-prototypes/
docs/DOCUMENTATION.pdf